/* 導覽列字型設定 */
.navbar {
  font-family: "Noto Sans TC", sans-serif;
}

/* 搜尋欄內顏色 */
input::-webkit-input-placeholder {
  color: #ffc124 !important;
}

/* 下拉式選單顏色 */
.navbar-nav > li > .dropdown-menu {
  background-color: #0275d8;
}

/* 頁尾設定  */
/* 頁尾顏色 */
.dx {
  background-color: pink;
}

/* 頁尾範圍 */
.dy {
  padding: 72px 0px 88px;
}

/* 頁尾LOGO位置 */
.an {
  padding: 0 80px;
}

/* 頁尾文字橫向，而非直直一行 */
.ao {
  display: flex;
  text-decoration: none;
}

/* 頁尾間距 */
.dz {
  flex: 2;
}

/* 文字橫向 */
.bv {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

/* Pack flex items from the start */
.e0 {
  -webkit-box-align: start;
  align-items: flex-start;
}

/* 控制文字離頁尾最上面的高度及位置 */
.ba {
  flex: 1;
  padding-top: 40px;
}

/* 文字排版設置 */
.bc {
  line-height: 24px;
}

/* 頁尾文字顏色、字型 */
.cj {
  color: #ffffff;
  font-family: "Noto Sans TC", sans-serif;
}

/* 文字與文字的距離 */
.e2 {
  margin-bottom: 24px;
}

/* 文字顏色、大小 */
.dt {
  color: inherit;
  font-size: 1.5em;
}

/* 文字被點選時的顏色 */
.ao a:hover {
  text-decoration: underline;
  color: rgb(243, 1, 1);
}

/* <!-- 置頂按鈕 設定 --> */
#myBtn {
  z-index: 99;
  /* 初始化不顯示 */
  /* display: none; */
  /* fixed = 畫面的絕對位置，所以會跟著跑 */
  position: fixed;
  /* 離下面30 pixel */
  bottom: 30px;
  /* 離右邊30 pixel */
  right: 10px;
  /* 半徑圓 */
  border-radius: 30px;
  /* 背景色 */
  /* background-color: white; */
  /* 透明度 */
  opacity: 0.5;
  /* 游標指過去會變手指 */
  cursor: pointer;
  /* 控制按鈕寬度 */
  width: 50px;
}

.Historical_order {
  top: 100px;
}
